*{
    box-sizing: border-box;
}
body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0px;
    background: #0A0C10;
    text-align: justify;
    line-height: 1.7;
    font-weight: 550;
    color: #D8D8D8;
    min-height: 100vh;
    position: relative;
}
p{
    font-size: 18px;
}

main {
    width: 77.77%;
    margin: auto;
}

header {
    background: #FFFFFF;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
}
nav{
    width: 80%;
    margin: auto;
}
.logo-tel{
    display: none;
}
.hamburger{
    display: none;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

nav ul li a {
    color: #D8D8D8;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 550;
    border-radius: 5px;
}

nav ul li a.activ{
    color:#892066;
}
nav ul li a:hover{
    background-color: #892066;
    color:#D8D8D8;
}

nav ul li a img.nav-logo {
    height: 30px;
}

h1 {
    font-size: 40px;
    margin-top: 86px;
    margin-bottom: 54px;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,38%));
    background-clip: text;
    color: transparent;
    width:100%;
    text-align: left;
}

.logo{
    width: 75px;
    height: 75px;
}
.lo-fara:hover{
    background-color: transparent;
}

.social-artist {
    display: flex;  
}

.social-artist i {
    font-size: 30px;
    color: #B9B9B9;
    margin-right: 10px;
}

.content{
    display: flex;
    flex-direction: row-reverse;     
    justify-content: space-between;  
    align-items: center;
}

.text{
    width: 50%;
}

.imagine{
    width: 41.5%;
    
}

.imagine img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid white;
}

.disco{
    display: flex;
    gap:20px;
    justify-content: space-between;
}

iframe{ 
    width: 50%;
    border-radius: 15px;
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.foot {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-links p {
    grid-column: 1/-1;
}

.footer-links a {
    color: #D8D8D8;
    text-decoration: none;
    padding: 5px;
}

.footer-links a img.footer-logo {
    height: 30px;
}

footer .socials {
    display: flex;
    justify-content: center;
}

footer .socials i {
    font-size: 30px;
    color: #B9B9B9;
    margin-right: 10px;
}

footer p{
    font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1439px) {
    h1 {
        font-size: 35px;
        width: 100%;
    }

    p{
        font-size: 16px;
    }

    .content{
        display: block;
    }

    .imagine{
        float: right;
        margin-left:20px;
    }

    .text{
        width: 100%;
    }

    footer .socials {
        flex-direction: column;
        justify-content: flex-start;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 767px) {

    main {
        width: 85%;
    }

    .nav-tel{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-logo {
        display: none;
    }

    .nav-tel .logo-tel {
        display: block;
        position: relative;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        color: #fff;
        margin-left: auto;
        cursor: pointer;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        z-index: 1000;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        text-align: center;
        padding: 10px 0;
    }

    h1 {
        font-size: 30px;
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    p{
        font-size: 16px;
    }

    .tara{
        text-align: center;
    }

    .social-artist{
        justify-content: center;
    }

    .content, .disco{
        flex-direction: column;
    }
    .text, .imagine, iframe{
        width: 100%;
    }

    .imagine{
        margin-top: 20px;
    }
    footer {
        font-size: 14px;
        padding: 0;
        padding-top: 10px;
    }

    footer p {
        font-size: 14px;
    }

    .foot {
        width: 85%;
        gap: 10px;
    }

    footer .socials {
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
}